<% include ./partials/header %>

<div class="container ">
    <div class="row">
        <% notes.forEach((note) => { %>
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center"><%= note.title %></h4>
                </div>
                <img class="img-fluid" src="<%= note.image %>">
                <small class="text-muted px-3 py-2"> <%= note.created.toDateString() %> </small>
                <div class="card-body">
                    <p class="card-text"> <%- note.content.substring(0, 150) %>... </p>
                    <a href="/notes/<%= note._id %>" class="btn btn-outline-primary">Read More <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ./partials/footer %>